body{
    background: #000000;
    font-family: 'Klee One', cursive;
    color: #ffffff;
    line-height: 1.5;
    padding: 50px;
    margin:auto;
    max-width:42em;
	font-size: 35px;

}

	
}


h1, h2, h3, h4 {
    font-weight: 400;
}
h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
}

body { 
  background: linear-gradient(90deg, #A82127 20%, #571D21 80%);
  background: -moz-linear-gradient(90deg, #A82127 20%, #571D21 80%);
  background: -webkit-linear-gradient(90deg, #A82127 20%, #571D21 80%);
  background: -o-linear-gradient(90deg, #A82127 20%, #571D21 80%);
  background-attachment:fixed;
 }

.title{
  text-align:center;
  margin-top:10%;
  color:#fff;
  font-size:50px;
}

* {
  box-sizing: border-box;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -11;
  -webkit-animation: spin 300s linear infinite;
          animation: spin 300s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.wrapper {
  position: fixed;
    width: 100%;
    height: 100%;
  z-index:-10;
}

.circle {
  position: absolute;
  border-radius: 50%;
  filter:blur(5px);
}

.circle:nth-child(1) {
  background: #4edc2d;
  box-shadow: 0 0 8px 7px #4edc2d;
  bottom: 8%;
  left: -2%;
  width: 153px;
  height: 153px;
  opacity: 0.16;
  -webkit-animation: flash-3 5s infinite linear;
  animation: flash-3 5s infinite linear;
}

.circle:nth-child(2) {
  background: #e95744;
  box-shadow: 0 0 5px 4px #e95744;
  top: 10%;
  left: 0%;
  width: 110px;
  height: 110px;
  opacity: 0.4;
  -webkit-animation: flash-3 5s infinite linear;
  animation: flash-3 5s infinite linear;
}

.circle:nth-child(3) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: 32%;
  left: 28%;
  width: 150px;
  height: 150px;
  opacity: 0.1;
  -webkit-animation: flash-3 8s infinite linear;
  animation: flash-3 8s infinite linear;
}

.circle:nth-child(4) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: -8%;
  left: 15%;
  width: 165px;
  height: 165px;
  opacity: 0.1;
  -webkit-animation: flash-3 4s infinite linear;
  animation: flash-3 4s infinite linear;
}

.circle:nth-child(5) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: 52%;
  left: 23%;
  width: 80px;
  height: 80px;
  opacity: 0.4;
  -webkit-animation: flash-3 3s infinite linear;
  animation: flash-3 3s infinite linear;
}
.circle:nth-child(6) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: 70%;
  left: 18%;
  width: 173px;
  height: 173px;
  opacity: 0.1;
  -webkit-animation: flash-3 7s infinite linear;
  animation: flash-3 7s infinite linear;
}

.circle:nth-child(7) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: 67%;
  left: 26%;
  width: 150px;
  height: 150px;
  opacity: 0.1;
  -webkit-animation: flash-3 6s infinite linear;
  animation: flash-3 6s infinite linear;
}

.circle:nth-child(8) {
  background: #e95744;
  box-shadow: 0 0 5px 4px #e95744;
  top: 51%;
  left: 39%;
  width: 80px;
  height: 80px;
  opacity: 0.4;
  -webkit-animation: flash-3 7s infinite linear;
  animation: flash-3 7s infinite linear;
}

.circle:nth-child(9) {
  background: #4edc2d;
  box-shadow: 0 0 8px 7px #4edc2d;
  top: 78%;
  left: 40%;
  width: 80px;
  height: 80px;
  opacity: 0.4;
  -webkit-animation: flash-3 10s infinite linear;
  animation: flash-3 10s infinite linear;
}

.circle:nth-child(10) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: 3%;
  left: 47%;
  width: 120px;
  height: 120px;
  opacity: 0.1;
  -webkit-animation: flash-3 5s infinite linear;
  animation: flash-3 5s infinite linear;
}

.circle:nth-child(12) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: 30%;
  left: -10%;
  width: 180px;
  height: 180px;
  opacity: 0.3;
  -webkit-animation: flash-3 8s infinite linear;
  animation: flash-3 8s infinite linear;
}

.circle:nth-child(13) {
  background: #4edc2d;
  box-shadow: 0 0 8px 7px #4edc2d;
  top: 28%;
  left: 50%;
  width: 180px;
  height: 180px;
  opacity: 0.2;
  -webkit-animation: flash-3 4s infinite linear;
  animation: flash-3 4s infinite linear;
}

.circle:nth-child(14) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: 50%;
  left: 50%;
  width: 190px;
  height: 190px;
  opacity: 0.3;
  -webkit-animation: flash-3 8s infinite linear;
  animation: flash-3 8s infinite linear;
}

.circle:nth-child(15) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: 76%;
  left: 63%;
  width: 150px;
  height: 150px;
  opacity: 0.2;
  -webkit-animation: flash-3 5s infinite linear;
  animation: flash-3 5s infinite linear;
}

.circle:nth-child(16) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: 12%;
  left: 69%;
  width: 80px;
  height: 80px;
  opacity: 0.3;
  -webkit-animation: flash-3 10s infinite linear;
  animation: flash-3 10s infinite linear;
}

.circle:nth-child(17) {
  background: #e95744;
  box-shadow: 0 0 5px 4px #e95744;
  top: 74%;
  left: 70%;
  width: 140px;
  height: 140px;
  opacity: 0.5;
  -webkit-animation: flash-3 6s infinite linear;
  animation: flash-3 6s infinite linear;
}

.circle:nth-child(18) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: 24%;
  left: 72%;
  width: 220px;
  height: 220px;
  opacity: 0.2;
  -webkit-animation: flash-3 10s infinite linear;
  animation: flash-3 10s infinite linear;
}


.circle:nth-child(19) {
  background: #4edc2d;
  box-shadow: 0 0 5px 4px #4edc2d;
  top: 48%;
  left: 80%;
  width: 200px;
  height: 200px;
  opacity: 0.2;
  -webkit-animation: flash-3 3s infinite linear;
  animation: flash-3 3s infinite linear;
}

.circle:nth-child(20) {
  background: #e95744;
  box-shadow: 0 0 5px 4px #e95744;
  top: 20%;
  left: 85%;
  width: 70px;
  height: 70px;
  opacity: 0.6;
  -webkit-animation: flash-3 5s infinite linear;
  animation: flash-3 5s infinite linear;
}

.circle:nth-child(21) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: -15%;
  left: 90%;
  width: 200px;
  height: 200px;
  opacity: 0.4;
  -webkit-animation: flash-3 8s infinite linear;
  animation: flash-3 8s infinite linear;
}

.circle:nth-child(22) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: 40%;
  left: 95%;
  width: 20px;
  height: 20px;
  opacity: 0.6;
  -webkit-animation: flash-3 3s infinite linear;
  animation: flash-3 3s infinite linear;
}


.circle:nth-child(23) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  top: 70%;
  left: 92%;
  width: 80px;
  height: 80px;
  opacity: 0.3;
  -webkit-animation: flash-3 10s infinite linear;
  animation: flash-3 10s infinite linear;
}


.circle:nth-child(24) {
  background: #fef6ec;
  box-shadow: 0 0 5px 4px #fef6ec;
  bottom: -5%;
  right: -10%;
  width: 180px;
  height: 180px;
  opacity: 0.3;
  -webkit-animation: flash-3 6s infinite linear;
  animation: flash-3 6s infinite linear;
}


.circle:nth-child(25) {
  background: #e95744;
  box-shadow: 0 0 5px 4px #e95744;
  top: 65%;
  right: 30%;
  width: 50px;
  height: 50px;
  opacity: 0.3;
  -webkit-animation: flash-3 5s infinite linear;
  animation: flash-3 5s infinite linear;
}


@-webkit-keyframes flash-3 {
  0% {
   opacity:0.1;
  }
  30% {
    opacity:0.6;
  filter:blur(10px);
  }

  60%{
    opacity: 0.2;
  filter:blur(50px);
  }

  90%{
    opacity: 0.5;
  filter:blur(20px);
  }
  100% {
    opacity:0.5;
    filter:blur(10px);
  }
}

@keyframes flash-3 {
  0% {
   opacity:0.1;
  }
  30% {
    opacity:0.6;
  filter:blur(10px);
  }

  60%{
    opacity: 0.2;
  filter:blur(50px);
  }

  90%{
    opacity: 0.5;
  filter:blur(20px);
  }
  100% {
  opacity:0.5;
  filter:blur(10px);
  }
}

/* Device寬度 768以下 */
@media screen and (max-width:768px) {
  .circle { transform:scale(0.5); }
}


/***カーテンのように開くアニメーション***/
body::before, body::after{
  content: "";
  position: fixed; /*固定表示*/
  top: 0;
  width: 50vw;
  height: 100vh;
  background: #940C04; /*劇のカーテン色*/
  animation: curtainOpen 3s forwards;
  animation-delay: 1s; /*遅延時間(遅延時間)*/
  z-index: 999; /*最前面に*/
  border-top: 12px solid #E7AD3D; /*上部の金の装飾*/
}
body::before{
  left: 0;
}
body::after{
  right: 0;
}

@keyframes curtainOpen{
  0%{
    width: 50vw; /*閉じている状態*/
  }
  10%{
    width: 40vw;
  }
  30%{
    width: 39vw;
  }
  40%{
    width: 29vw;
  }
  60%{
    width: 28vw;
  }
  70%{
    width: 18vw;
  }
  90%{
    width: 17vw;
  }
  100%{ 
    width: 0; /*開く*/
    visibility: hidden; /*非表示に*/
  }
}

/***サンプル装飾用***/
body{
  padding: 1rem;
}






.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 5px;
  background:   #C99C33;
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.tab-switch:checked+.tab-label {
  background:   #C99C33;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.tab-switch {
  display: none;
}

.tab-switch:checked+.tab-label {
    background:  #006622;
    margin-top: -0.5rem;
    transition: margin .3s;
    align-items: center;
    display: flex;
    justify-content: center;
}
.tab-label{
    border-radius: 0;
    position: relative;
}
.tab-label:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #fff #fff #ddd #ddd;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, .1);
}


body {
  margin: 0;
  padding: 0;
}

p {
  padding: 10px;
}

#container {
  position: relative;
  height: 300px;
  margin: 0;
  padding: 0;
  background: #87ceeb;
  overflow: hidden;
}





h4 {
    font-size: 21px;
}
h5 {
    font-size: 18px;
}
a {
    color: #61BFC1;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #466B6C;
}
ul, ol {
    padding: 0;
    margin: 0;
}
li {
    line-height: 24px;
}
li ul, li ul {
    margin-left: 24px;
}
p, ul, ol {
    font-size: 16px;
    line-height: 24px;
    max-width: 540px;
}
pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}
aside {
    display: block;
    float: right;
    width: 390px;
}
blockquote {
    border-left:.5em solid #eee;
    padding: 0 2em;
    margin-left:0;
    max-width: 476px;
}
blockquote  cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}
blockquote cite:before {
    content: '\2014 \00A0';
}

blockquote p {  
    color: #666;
    max-width: 460px;
}
hr {
    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}

/* Code below this line is copyright Twitter Inc. */

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type=checkbox], input[type=radio] {
  cursor: pointer;
}
/* override default chrome & firefox settings */
input:not([type="image"]), textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
label,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 18px;
}
input[type=checkbox], input[type=radio] {
  cursor: pointer;
  margin-bottom: 0;
}
input[type=text],
input[type=password],
textarea,
select {
  display: inline-block;
  width: 210px;
  padding: 4px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select, input[type=file] {
  height: 27px;
  line-height: 27px;
}
textarea {
  height: auto;
}

/* grey out placeholders */
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}

input[type=text],
input[type=password],
select,
textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* buttons */
button {
  display: inline-block;
  padding: 4px 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #004b9a;
  border-bottom-color: #003f81;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
button:hover {
  color: #fff;
  background-position: 0 -15px;
  text-decoration: none;
}
button:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
